{% if environment == "prod" -%}
opencode-openai.yarden-zamir.com
{%- else -%}
pr.{{ environment.removeprefix("pr-") }}.opencode-openai.yarden-zamir.com
{%- endif %} {
    reverse_proxy unix//{{ paths.default_socket }}
}
